<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scandiweb Assignment Test Task</title>
</head>

<body>
  <header>
  </header>
  <main>
    {% for sku in skus %}
    <div class="product">
      <p>{{ sku }}</p>
    </div>
    {% else %}
    <div class="">
      <p>No products found</p>
      <button>Add new product</button>
    </div>
    {% endfor %}
  </main>
  <footer>

  </footer>
</body>

</html>
