@import 'app/sass/utils/variables';
@import 'app/sass/utils/mixins';

@import 'app/sass/base/base';

@import 'app/sass/components/AddProductform';
@import 'app/sass/components/Button';
@import 'app/sass/components/Footer';
@import 'app/sass/components/FormTextInput';
@import 'app/sass/components/Header';
@import 'app/sass/components/ProductCard';

@import 'app/sass/pages/AddProductPage';
@import 'app/sass/pages/_HomePage';
