$color-primary: #8a2be2;
$color-secondary: #43067c;
$color-bg: #fbfdff;
$color-danger: #bd4444;
$color-text: #222;

$desktop-margin: 50px;
$tablet-margin: 30px;
$phone-margin: 20px;

$header-height: 70px;
$footer-height: 50px;

$header-height-phone: 120px;
$footer-height-tablet: 200px;
$footer-height-phone: 140px;

// Breakpoints
$phone-tablet-breakpoint: 568px;
$tablet-desktop-breakpoint: 992px;
